*{
    margin: 0;
    font-family:'Open Sans', sans-serif;
}

/* header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style-type: none;
    margin-left: 50px;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.header {
    background-color: #FFF8F3;
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* banner styles */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-title {
    font-weight: 700;
    font-size: 55px;
}
.banner-sub-title {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;
}
.front {
    margin: 10px 0;
    font-size: 20px;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}